
@font-face {
    font-family: "Jost", sans-serif;
    src: url('/fonts/Jost-Regular.woff2') format('woff2'),
        url('/fonts/Jost-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond-Bold.woff2') format('woff2'),
        url('/fonts/CormorantGaramond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond-Medium.woff2') format('woff2'),
        url('/fonts/CormorantGaramond-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond-Regular.woff2') format('woff2'),
        url('/fonts/CormorantGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond-SemiBold.woff2') format('woff2'),
        url('/fonts/CormorantGaramond-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
